<!doctype html>
<html>

<head>
    <title>API Authentication Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Login Test for API</h1>

            <div>
                <p>THIS IS FOR TESTING PURPOSES AND IS NOT THE FINAL DESIGN</p>
            </div>
            <!-- Start Test -->
            <hr>
            <p>Navigate to Mock Login to test API <a href="/login">Login Page Test</a></p>


            <%if(locals.hasOwnProperty('data')) { %>
            <%if(locals.data.hasOwnProperty('user')) { %>
            You're logged in : <%=locals.data.user.email%>
            You're type : <%=locals.data.user.user_type%>
            <%}%>
            <%}%>
        </div>
    </div>
</body>

</html>