<app-side-bar></app-side-bar>
<div class="container">
  <div class="header">
    <h1>Choose Your Experience</h1>
    <div class="bottom_line"></div>
  </div>

  <div class="content">
    <div class="row3x">
      <div class="column">
        <img src="../../../../../assets/img/select_1.png" alt="Screen One" />
        <button class="blue-btn" (click)="selected('1')" mat-raised-button>Choose This Template</button>
      </div>
      <div class="column">
        <img src="../../../../../assets/img/select_2.png" alt="Screen One" />
        <button class="blue-btn" (click)="selected('2')" mat-raised-button>Choose This Template</button>
      </div>
      <div class="column">
        <img src="../../../../../assets/img/select_3.png" alt="Screen One" />
        <button class="blue-btn" (click)="selected('3')" mat-raised-button>Choose This Template</button>
      </div>
    </div>
    <div class="row2x">
      <div class="column">
        <img src="../../../../../assets/img/select_4.png" alt="Screen One" />
        <button class="blue-btn" (click)="selected('4')" mat-raised-button>Choose This Template</button>
      </div>
      <div class="column">
        <img src="../../../../../assets/img/select_5.png" alt="Screen One" />
        <button class="blue-btn" (click)="selected('5')" mat-raised-button>Choose This Template</button>
      </div>
    </div>
  </div>
  <app-fab></app-fab>
</div>
