<app-side-bar></app-side-bar>
<div class="container">
  <div class="form-head-row">
    <span class="back" (click)="previous()" mat-button>
      <img src="assets/img/back.png" alt="icon" />
      <span>
        Back
      </span>
    </span>
  </div>
  <div class="header">

    <div class="header-column">
      <h1>Choose Your Experience</h1>
      <div class="bottom_line"></div>
    </div>
  </div>

  <div class="content">
    <div class="row3x">
      <div class="column">
        <img src="../../../../../assets/img/select_1.png" alt="Screen One" />
        <button class="blue-btn disabled" (click)="selected('1')" [disabled]="true" mat-raised-button>Choose This
          Template</button>
      </div>
      <div class="column">
        <img src="../../../../../assets/img/select_2.png" alt="Screen One" />
        <button class="blue-btn" (click)="selected('2')" mat-raised-button>Choose This Template</button>
      </div>
      <div class="column">
        <img src="../../../../../assets/img/select_3.png" alt="Screen One" />
        <button class="blue-btn disabled" (click)="selected('3')" [disabled]="true" mat-raised-button>Choose This
          Template</button>
      </div>
    </div>
    <div class="row2x">
      <div class="column">
        <img src="../../../../../assets/img/select_4.png" alt="Screen One" />
        <button class="blue-btn disabled" (click)="selected('4')" [disabled]="true" mat-raised-button>Choose This
          Template</button>
      </div>
      <div class="column">
        <img src="../../../../../assets/img/select_5.png" alt="Screen One" />
        <button class="blue-btn disabled" (click)="selected('5')" [disabled]="true" mat-raised-button>Choose This
          Template</button>
      </div>
    </div>
  </div>
  <app-fab></app-fab>
</div>
