//All the colors used in the app will be present here.
$primary:#ffffff;
$dark:#000000;
$theme:#fafafa;
$border:#f5f4f4;
$shadow:#bebebec5;
$blueTheme:#39d4ff;
$darkBlue:#18c1f0;
$greyTheme:#d8d8d8;
$headingNormColor:#747474;
$back:#9b9b9b;
$smallSize:12px;
$headingSize:14px;
$validation:#d80909b3;
$chatGreen:#33cd29;
$chatInput:#f1f4f4;
$shadowFormula:0 3px 5px -1px rgba(0, 0, 0, .2),
0 6px 10px 0 rgba(0, 0, 0, .14),
0 1px 18px 0 rgba(0, 0, 0, .12);