@import '../../../theme/variables';

.plan-slide {
    background: $primary;

    .plan-sections {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        margin-top: 25px;

        .plans-row {
            display: flex;
            text-align: center;
            border-bottom: 1px solid $border;

            .plans-col {
                width: 30%;
                padding: 10px 20px;
                color: $back;

                &:first-child {
                    width: 40%;
                    text-align: left;
                }

                &:nth-child(2) {
                    border-left: 1px solid $border;
                    border-right: 1px solid $border;
                }

                img {
                    width: 17px;
                }

                .blue-btn {
                    background: $darkBlue;
                    padding: 10px 50px;
                    font-size: 16px;
                    letter-spacing: 1.75px;
                    display: inline-block;
                    color: #fff;
                    border-radius: 5px;
                    text-transform: uppercase;
                }
            }

            &.plans-head-row {
                align-items: flex-end; // height: 215px;
                border: none;

                .plans-col {
                    padding: 20px;
                    color: rgb(74, 74, 74);
                    border-bottom: 1px solid $border;

                    h3 {
                        margin: 10px 0;
                        font-size: 22px;
                        font-family: 'ProximaNova-Semibold';
                        letter-spacing: 1.0;
                    }

                    .feature {
                        font-size: 24px;
                        font-family: 'ProximaNova-Semibold';
                        color: $headingNormColor;
                        margin: 0;
                    }

                    .big-heading {
                        font-size: 64px;
                        display: block;
                        font-family: 'ProximaNova-Extrabld';
                    }

                    .small-heading {
                        font-size: 18px;
                        display: block;
                        letter-spacing: 0.25;
                    }

                    &:nth-child(2) {
                        background: $darkBlue;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        color: #fff;
                        border: none;
                        position: relative;
                        margin-top: -25px;

                        h3 {
                            margin: 20px 0 25px;
                        }

                        &::before {
                            content: "";
                            background: url(../../../assets/img/popular.png) no-repeat 0 0/contain;
                            position: absolute;
                            width: 125px;
                            height: 100px;
                            right: -9px;
                            top: -10px;
                            z-index: 999;
                        }
                    }

                    &:nth-child(3) {
                        position: relative;
                        background: $blueTheme;
                        border-top-right-radius: 10px;
                        color: #fff;
                        border: none;
                    }
                }
            }

            &.plans-foot-row {
                border: none;

                .plans-col {
                    padding: 35px 20px;
                }
            }
        }
    }
}