<div class="plan-slide">
  <div class="plan-sections">
    <div class="plans-row plans-head-row">
      <div class="plans-col">
        <h3 class="feature">Features</h3>
      </div>
      <div class="plans-col">
        <h3>AMP “PRO”</h3>
        <span class="big-heading">$399</span>
        <span class="small-heading">Per Month</span>
      </div>
      <div class="plans-col">
        <h3>AMP “LITE”</h3>
        <span class="big-heading">$199</span>
        <span class="small-heading">Per Month</span>
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Custom Practice Branded App</div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">2 Way Chat</div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Appointment Request</div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Practice Info/Map
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Social Links
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Practice Referral
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Practice Software Integration
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Appointment Booking with Confirmation
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Digital Forms Integration
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Marketing Dashboard </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Emergency Messaging </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row plans-foot-row">
      <div class="plans-col"></div>
      <div class="plans-col">
        <button mat-button class="blue-btn" (click)="proPackage()">Get Started</button>
      </div>
      <div class="plans-col">
        <button mat-button class="blue-btn" (click)="selectPlan(packages[0])">Get Started</button>
      </div>
    </div>
  </div>

  <div class="plan-responsive">
    <div class="plans-one">
      <div class="plan_head">
        <h3>AMP “PRO”</h3>
        <span class="big-heading">$399</span>
        <span class="small-heading">Per Month</span>
      </div>
      <div class="rows">
        <h3 class="feature">Features Included</h3>
        <div class="option">
          <p>Custom Practice Branded App</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>2 Way Chat</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Appointment Request</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Practice Info/Map</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Social Links</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Practice Referral</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Practice Software Integration</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Appointment Booking with Confirmation</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Digital Forms Integration</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Marketing Dashboard</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Emergency Messaging</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option btn">
          <button mat-button class="blue-btn" (click)="proPackage()">Get Started</button>
        </div>
      </div>
    </div>

    <div class="plans-one">
      <div class="plan_head">
        <h3>AMP “LITE”</h3>
        <span class="big-heading">$199</span>
        <span class="small-heading">Per Month</span>
      </div>
      <div class="rows">
        <h3 class="feature">Features Included</h3>
        <div class="option">
          <p>Custom Practice Branded App</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>2 Way Chat</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Appointment Request</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Practice Info/Map</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Social Links</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Practice Referral</p>
          <div class="mark">
            <img src="assets/img/tick.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Practice Software Integration</p>
          <div class="mark">
            <img src="assets/img/cross.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Appointment Booking with Confirmation</p>
          <div class="mark">
            <img src="assets/img/cross.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Digital Forms Integration</p>
          <div class="mark">
            <img src="assets/img/cross.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Marketing Dashboard</p>
          <div class="mark">
            <img src="assets/img/cross.png" alt="icons" />
          </div>
        </div>
        <div class="option">
          <p>Emergency Messaging</p>
          <div class="mark">
            <img src="assets/img/cross.png" alt="icons" />
          </div>
        </div>
        <div class="option btn">
          <button mat-button class="blue-btn" (click)="selectPlan(packages[0])">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</div>