<div class="plan-slide">
  <!-- <div class="plan-header">
    <div class="plan-head-row">
      <div class="plan-head-col">
        <h1>Order Your Future</h1>
        <h2>Customize your Package Now</h2>
      </div>
      <div class="plan-head-col">
        <span class="active">1</span>
        <span>2</span>
        <span>3</span>
      </div>
    </div>
  </div> -->
  <div class="plan-sections">
    <div class="plans-row plans-head-row">
      <div class="plans-col">
        <h3>Features Included</h3>
      </div>
      <div class="plans-col">
        <h3>AMP “LITE”</h3>
        <span class="big-heading">$199</span>
        <span class="small-heading">Per Month</span>
      </div>
      <div class="plans-col">
        <h3>AMP “PRO”</h3>
        <span class="big-heading">$399</span>
        <span class="small-heading">Per Month</span>
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Custom Practice Branded APP</div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">2 Way Chat Feature</div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Appointment Request*</div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">About Us & Location Feature
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Social Links Feature
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Practice Referral Feature
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Practice Software Integration API
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Appointment Booking with Confirmation
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Digital Forms Integration
      </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Drip Marketing Integration </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row">
      <div class="plans-col">Emergency Messaging </div>
      <div class="plans-col">
        <img src="assets/img/cross.png" alt="icons" />
      </div>
      <div class="plans-col">
        <img src="assets/img/tick.png" alt="icons" />
      </div>
    </div>
    <div class="plans-row plans-foot-row">
      <div class="plans-col"></div>
      <div class="plans-col">
        <button mat-button class="blue-btn" (click)="selectPlan(packages[0])">Get Started</button>
      </div>
      <div class="plans-col">
        <button mat-button class="blue-btn" (click)="proPackage()">Get Started</button>
      </div>
    </div>
  </div>
</div>