<div class="container">
  <button class="logo" mat-button>
    <img src="assets/img/logo.png" alt="">
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" (click)="goTo('dashboard')" mat-button>
    <img src="assets/img/dash.png" alt="">
    <p [ngClass]="{'highlighted': currentPage == '/home'}">Dashboard</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" mat-button>
    <img class="schedule" src="assets/img/scheduling.png" alt="">
    <p>Scheduling</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" (click)="goTo('chat')" mat-button>
    <img *ngIf="currentPage != '/chat'" src="assets/img/chat.png" alt="">
    <img *ngIf="currentPage == '/chat'" src="assets/img/chatSelected.png" alt="">
    <p [ngClass]="{'highlighted': currentPage == '/chat'}">Chat</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" mat-button>
    <img src="assets/img/rating.png" alt="">
    <p>Social</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" mat-button>
    <img src="assets/img/forms.png" alt="">
    <p>Forms</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" mat-button>
    <img class="mkt" src="assets/img/marketing.png" alt="">
    <p>Marketing</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" mat-button>
    <img src="assets/img/settings.png" alt="">
    <p>Setting</p>
  </button>
  <button class="options" [ngClass]="{'optionsDisabled': (user == null || (user != null && user.init_payment == false))}" mat-button>
    <img src="assets/img/support.png" alt="">
    <p>Support</p>
  </button>
  <button class="options" (click)="goTo('login')" *ngIf="user == null" mat-button>
    <img src="assets/img/login.png" alt="">
    <p [ngClass]="{'highlighted': currentPage == '/login'}">Login</p>
  </button>
  <button class="options" (click)="logout()" *ngIf="user != null" mat-button>
    <img src="assets/img/login.png" alt="">
    <p>Logout</p>
  </button>
</div>