<div class="container">
  <div class="GlobalFormWrapper">
    <div class="form-slide">
      <div class="form-head-row">
        <span class="back" (click)="goBack()">
          <img src="assets/img/back.png" alt="icon" />
          <span>
            Back
          </span>
        </span>
      </div>
      <div class="form-area">
        <h3>Login to your dashboard!</h3>
        <form>
          <div class="form-row">
            <div class="form-two-col">
              <div class="cus-inp-row">
                <label>Email</label>
                <input type="text" [(ngModel)]="user.email" (ngModelChange)="changeInFields('email')" name="address" [ngClass]="{'active': user.email != '','error':usrVld.usr == true}" />
              </div>
              <div class="cus-inp-row">
                <label>Password</label>
                <input type="password" [(ngModel)]="user.password" (ngModelChange)="changeInFields('pass')" name="unit" [ngClass]="{'active': user.password != '','error':usrVld.pass == true}" />
              </div>
              <div class="cus-check-row">
                <input type="checkbox" id="cus-check" />
                <label for="cus-check"><span></span>REMEMBER ME</label>
              </div>
            </div>
            <div class="form-two-col">
              <div class="">
                <button class="cus-btn fb-btn" mat-raised-button>
                  FACEBOOK LOGIN
                </button>
                <button class="cus-btn google-btn" mat-raised-button>
                  GOOGLE LOGIN
                </button>
                <!-- <div class="cus-btn inp-btn">
                  <a href="#">INTUiT LOGIN</a>
                </div> -->
              </div>
            </div>
          </div>
          <button class="blue-btn" (click)="login()" mat-raised-button>NEXT</button>
          <p class="forgot-text">Forgot Your Password</p>
        </form>
      </div>
    </div>
  </div>
</div>