<div class="phone">
  <img class="backward" src="assets/img/backward.png" (click)="backward()" alt="">
  <div *ngIf="current==1" class="phoneBody">
    <span class="right-side-btn"></span>
    <span class="left-side-btn-1"></span>
    <span class="left-side-btn-2"></span>
    <span class="left-side-btn-3"></span>
    <div class="actualBody">
      <div class="header" [style.background]="primary">
        <div class="iphoneX"></div>
        <h1>
          <img src="../../../assets/img/anozira_logo.png" alt="Anozira Logo" />
          Anozira Dental</h1>
      </div>
      <div class="phoneCont">
        <div class="upper">
          <div class="infor">
            <p class="no">Next Appointment</p>
            <p class="schedule">November 23, 2019 <i class="icon-pencil"></i></p>
          </div>
        </div>
        <div class="lower">
          <div class="square-menu-double half-cut-left" [style.background]="primary">
          </div>
          <div class="square-menu-double" [style.background]="primary">
            <img src="../../../assets/img/info@3x.png" alt="Settings" />
            <span>INFO</span>
          </div>
          <div class="square-menu-double half-cut-right" [style.background]="primary">
          </div>

        </div>
      </div>
      <div class="phoneFooter">
        <div class="infor_bottom">
          <div class="noti_count">
            <span>2</span>
          </div>
          <p class="name">View Notifications</p>
        </div>
        <div class="phoneFab">
          <div class="btn-round" [style.background]="primary">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="current==0" class="phoneBody">
    <span class="right-side-btn"></span>
    <span class="left-side-btn-1"></span>
    <span class="left-side-btn-2"></span>
    <span class="left-side-btn-3"></span>
    <div class="actualBody">
      <div class="header" [ngStyle]="{'background': 'linear-gradient(0deg,'+ primary+' 0%,'+ secondary+' 100%)'}">
        <div class="iphoneX"></div>
        <h1>
          <img src="../../../assets/img/anozira_logo.png" alt="Anozira Logo" />
          Anozira Dental</h1>
      </div>
      <div class="phoneCont">
        <div class="upper">
          <div class="infor">
            <p class="no">No Appointments Scheduled</p>
            <p class="schedule">Schedule One Now! <i class="icon-pencil"></i></p>
          </div>
        </div>
        <div class="lower">
          <div class="round-menu" [ngStyle]="{'background': 'linear-gradient(0deg,'+ primary+' 0%,'+ secondary+' 100%)'}">
            <img src="assets/img/menu.png" alt="">
            <div class="round-pic">
              <img src="assets/img/user.jpeg" alt="pic" />
            </div>
          </div>
        </div>
      </div>
      <div class="phoneFooter">
        <div class="footerPs">
          <p class="no">Welcome, Glad Your Here!</p>
          <p class="name">Angelica Santos</p>
        </div>
        <div class="phoneFab">
          <!-- <div class="btn-round" [style.background]="primary"> -->
          <div class="btn-round" [ngStyle]="{'background': 'linear-gradient(0deg,'+ primary+' 0%,'+ secondary+' 100%)'}">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="current==2" class="phoneBody">
    <span class="right-side-btn"></span>
    <span class="left-side-btn-1"></span>
    <span class="left-side-btn-2"></span>
    <span class="left-side-btn-3"></span>
    <div class="actualBody">
      <div class="header" [style.background]="primary">
        <div class="iphoneX"></div>
        <h1>
          <img src="../../../assets/img/anozira_logo.png" alt="Anozira Logo" />
          Anozira Dental</h1>
      </div>
      <div class="phoneCont">
        <div class="upper">
          <div class="infor">
            <p class="no">No Appointments Scheduled</p>
            <p class="schedule">Schedule One Now! <i class="icon-pencil"></i></p>
          </div>
        </div>
        <div class="lower">
          <div class="square-menu" [style.background]="primary">
            <img src="../../../assets/img/settings_app_template.png" alt="Settings" />
            <span>MY ACCOUNT</span>
          </div>
          <div class="forward_lower">
            <img src="../../../assets/img/forward.png" alt="Forward" />
          </div>
          <div class="backward_lower">
            <img src="../../../assets/img/backward.png" alt="Backward" />
          </div>
        </div>
      </div>
      <div class="phoneFooter">
        <div class="footerPs">
          <p class="no">Welcome, Glad Your Here!</p>
          <p class="name">Angelica Santos</p>
        </div>
        <div class="phoneFab">
          <div class="btn-round" [style.background]="primary">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="current==3" class="phoneBody">
    <span class="right-side-btn"></span>
    <span class="left-side-btn-1"></span>
    <span class="left-side-btn-2"></span>
    <span class="left-side-btn-3"></span>
    <div class="actualBody">
      <div class="header" [style.background]="primary">
        <div class="iphoneX"></div>
        <h1>
          <img src="../../../assets/img/anozira_logo.png" alt="Anozira Logo" />
          Anozira Dental</h1>
      </div>
      <div class="phoneCont">
        <div class="upper">
          <div class="infor">
            <p class="no">No Appointments Scheduled</p>
            <p class="schedule">Schedule One Now! <i class="icon-pencil"></i></p>
          </div>
        </div>
        <div class="lower_new">
          <div class="row_template">
            <div class="column_template">
              <img src="../../../assets/img/settings_mobile.png" alt="Image" />
              <span class="inner_span">SETTINGS</span>
            </div>
            <div class="column_template">
              <img src="../../../assets/img/social.png" alt="Image" />
              <span class="inner_span">SOCIAL</span>
            </div>
            <div class="column_template">
              <img src="../../../assets/img/chat_mobile.png" alt="Image" />
              <span class="inner_span">CHAT</span>
            </div>
          </div>
          <div class="row_template">
            <div class="column_template">
              <img src="../../../assets/img/info.png" alt="Image" />
              <span class="inner_span">INFO</span>
            </div>
            <div class="column_template">
              <img src="../../../assets/img/nounRating.png" alt="Image" />
              <span class="inner_span">CALL</span>
            </div>
            <div class="column_template">
              <img src="../../../assets/img/refer.png" alt="Image" />
              <span class="inner_span">REFER</span>
            </div>
          </div>
        </div>
      </div>
      <div class="phoneFooter">
        <div class="footerPs">
          <p class="no">Welcome, Glad Your Here!</p>
          <p class="name">Angelica Santos</p>
        </div>
        <div class="phoneFab">
          <div class="btn-round" [style.background]="primary">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <img class="forward" src="assets/img/forward.png" (click)="forward()" alt="">
</div>

<div class="phoneInfo">
  <div class="onCon">
    <p class="name">Template Name Here</p>
    <p class="content">Add your logo and choose your colors on the screen to the right to see how your app will look
      with this template</p>
  </div>
  <button class="choose" mat-raised-button>Choose different template</button>
</div>
