<div class="phone">
  <img class="backward" src="assets/img/backward.png" alt="">
  <div class="phoneBody">
    <span class="right-side-btn"></span>
    <span class="left-side-btn-1"></span>
    <span class="left-side-btn-2"></span>
    <span class="left-side-btn-3"></span>
    <div class="actualBody">
      <div class="header">
        <div class="iphoneX"></div>        
        <h1> 
          <img src="../../../assets/img/anozira_logo.png" alt="Anozira Logo" />
          Anozira Dental</h1>
      </div>
      <div class="phoneCont">
        <div class="upper">
          <div class="infor">
            <p class="no">No Appointments Scheduled</p>
            <p class="schedule">Schedule One Now! <i class="icon-pencil"></i></p>
          </div>
        </div>
        <div class="lower">
          <div class="round-menu">
              <img src="assets/img/menu.png" alt="">
              <div class="round-pic">
                <img src="assets/img/user.jpeg" alt="pic"/>
              </div>
          </div>
        </div>
      </div>
      <div class="phoneFooter">
        <div class="footerPs">
          <p class="no">Welcome, Glad Your Here!</p>
          <p class="name">Angelica Santos</p>
        </div>
        <div class="phoneFab">
          <div class="btn-round">
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="forward" src="assets/img/forward.png" alt="">
</div>
<div class="phoneInfo">
  <div class="onCon">
    <p class="name">Template Name Here</p>
    <p class="content">Add your logo and choose your colors on the screen to the right to see how your app will look with this template</p>
  </div>
  <button class="choose" mat-raised-button>Choose different template</button>
</div>