@import '../../../theme/variables';

.phone {
    position: relative;
    float: 0.8;
    width: -webkit-fill-available;
    padding: 5%;
    text-align: center;

    .backward {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        left: 0px;
    }

    .forward {
        @extend .backward;
        left: auto;
        right: 0px;
    }

    .phoneBody {
        display: inline-block;
        position: relative;
        box-shadow: $shadowFormula;
        width: 65%;
        height: 430px;
        background: $primary;
        border-radius: 30px;
        padding: 15px;


        .actualBody {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 30px;

            .header {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 70px;
                background: $blueTheme;
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 14px;
                    font-weight: bold;
                    color: $primary;
                    margin-top: 15px;
                }
            }

            .iphoneX {
                position: absolute;
                top: -15px;
                left: 0;
                right: 0;
                margin: auto;
                width: 50%;
                height: 30px;
                z-index: 9999;
                background: $primary;
                border-radius: 20px
            }

            .phoneCont {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: calc(100% - 140px);

                .upper {
                    height: 30%;
                    border-bottom: 1px solid $border;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .infor {
                        width: 80%;
                        background: $primary;
                        box-shadow: $shadowFormula;
                        display: inline-block;
                        text-align: left;
                        padding: 10px;

                        p {
                            margin: 0;

                        }

                        .no {
                            font-size: 8px;
                            color: $greyTheme;
                        }

                        .schedule {
                            margin-top: 5px;
                            font-size: 14px;
                        }
                    }
                }

                .lower {
                    width: 100%;
                    height: 65%;
                    border-bottom: 1px solid $border;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 70%;
                    }
                }
            }

            .phoneFooter {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 0 10px;

                .footerPs {
                    flex: 0.7;
                    padding: 10px;

                    p {
                        margin: 0;
                        text-align: left;
                    }

                    .no {
                        font-size: 10px;
                        color: $greyTheme;
                    }

                    .name {
                        @extend .no;
                        font-size: 16px;
                    }
                }

                .phoneFab {
                    flex: 0.3;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}

.phoneInfo {
    width: -webkit-fill-available;
    text-align: center;

    p {
        display: inline-block;
        width: 60%;
        margin: 0;
        margin-bottom: 15px;
    }

    .name {
        font-size: 16px;

    }

    .content {
        font-size: 14px;
        color: $greyTheme;
    }

    .onCon {
        margin-top: 10px;
    }

    .choose {
        display: inline-block;
        background: #39d4ff;
        padding: 10px;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.5px;
        font-family: 'ProximaNova-Semibold';
    }
}