<div class="alitaWrapper">
  <div class="botArea">
    <div class="botIntro">
      <div class="face"></div>
      <div class="content">
        <span class="line"></span>
        <h2>Meet Alita!</h2>
        <p>
          She will help you get everything set up with your new account!
        </p>
        <button (click)="manual()" mat-raised-button>Self Setup</button>
      </div>
    </div>
    <div class="chatArea">
      <ul>
        <li>
          <div class="someone">
            <p>I want some help Alita!</p>
            <img src="assets/img/dummy.png" alt="">
          </div>
        </li>

        <li>
          <div class="myself">
            <img src="assets/img/alita.png" alt="">
            <p>Welcome to your App Dashboard, My name is Alita and i will be assisting you through the set-up process. It will be quick and easy, I will ask you questions and all you need to do is answer them! If you need to pause the on-boarding setup at anytime, just press “Pause” or type “Pause” in the chat window and you can pick up right where we left off. Are you Ready to get started?</p>
          </div>
        </li>
      </ul>
      <form>
        <input type="text" placeholder="Type Something">
        <button type="button" mat-raised-button>Send</button>
      </form>
    </div>
  </div>
</div>