<div class="container">
  <span class="blueRight"></span>
  <span class="pinkLeft"></span>
  <span class="greenRight"></span>
  <div class="headerBar">
    <img class="logo" src="assets/img/landingLogo.png" />
    <div class="navBtns">
      <span class="sign" (click)="goToSignUp()" matRipple>Sign Up</span>
      <span class="login" (click)="goToLogin()" matRipple>Login</span>
    </div>
  </div>
  <div class="firstQuad">
    <div class="intro">
      <div class="text">
        <h1>Your Very Own Custom Branded App.</h1>
        <p>In our app driven world, AMP bridges the gap between Patients & Doctors
          with a fully integrated solution</p>
        <button class="orderBtn" mat-raised-button>Order Now</button>
        <p class="available">Available for <u>iOS and Android</u></p>
      </div>
    </div>
    <div class="present">
      <img src="assets/img/frontView.png" alt="">
    </div>
  </div>
  <div class="secQuad">
    <h1>Customize Your App to Reflect Your Brand</h1>
    <p>Choose from one of our amazing templates and then customize it even further to perfection.</p>
  </div>
  <div class="thirdQuad">
    <img src="assets/img/screen1.png" alt="">
    <img src="assets/img/screen2.png" alt="">
    <img src="assets/img/screen3.png" alt="">
  </div>
  <div class="fourthQuard">
    <img class="leftside" src="assets/img/screen4.png" alt="">
    <span class="acting1"></span>
    <span class="acting2"></span>
    <div class="content">
      <h1>Colorful & Delightful</h1>
      <p>Just how you want your patients to feel</p>
      <p class="note">Patient communication made easy with AMP</p>
      <button class="orderBtn forThis" mat-raised-button>Order Now</button>
    </div>
    <span class="acting3"></span>
    <span class="acting4"></span>
    <img class="rightside" src="assets/img/screen4.png" alt="">
  </div>
  <div class="fifthQuard">
    <div class="texting">
      <h1>Meet Alita. Your Personal Assistant. Driven with Powerful Ai Technology</h1>
      <p>Alita makes it easy to setup and maintain your App My Practice account
        and stay on the cutting edge. Alita makes extremely complex things
        simple by continuing to learn your habits as a medical expert and
        automatically adjusting the software to fit your needs.</p>
      <button class="orderBtn forMon" mat-raised-button>Order Now</button>
    </div>
    <img class="fabing" src="assets/img/fabiano.png" alt="">
  </div>
  <div class="sixthQuad">
    <h1>The Only App Worth Talking About is Yours</h1>
    <p>Increase patient loyalty, maximize staff time and create a tribe</p>
  </div>
  <div class="seventhQuard">
    <div class="row">
      <div class="first">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="second">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="third">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="fourth">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
    </div>
    <div class="row">
      <div class="first">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="second">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="third">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="fourth">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
    </div>
  </div>
  <div class="eightQuard">
    <div class="links">
      <img src="assets/img/apple.png" alt="">
      <img src="assets/img/android.png" alt="">
    </div>
    <h1>Access Your App From Anywhere</h1>
    <p>Your app will be fully functional on desktop & smart devices. </p>
  </div>
  <div class="ninthQuard">
    <h1>And of Course, Patient Driven Scheduling</h1>
    <p>Making your life immeasurably Simple</p>
    <img src="assets/img/screen6.png" alt="">
    <span class="greenLeft"></span>
  </div>
  <div class="tenthQuard">
    <h1>Get Started with App My Practice</h1>
    <div class="row">
      <div class="frst">
        <button class="orderBtn forMon" mat-raised-button>Order Now</button>
        <p>Two feature-rich
          packages available</p>
      </div>
      <div class="frst">
        <button class="orderBtn forMon" mat-raised-button>Book Free Demo</button>
        <p>Take your practice from good
          to great. Let’s get in touch.</p>
      </div>
    </div>
    <h1 class="tollNumber">1-800-714-1287</h1>
    <p class="tollFree">Toll Free</p>
  </div>
  <div class="footerBar">
    <img class="logo" src="assets/img/footerLogo.png" />
    <div class="navBtns">
      <span class="login" matRipple>Legal</span>
      <span class="login" matRipple>FAQ</span>
    </div>
  </div>
</div>