<div class="container">
  <span class="blueRight"></span>
  <span class="pinkLeft"></span>
  <span class="greenRight"></span>
  <div class="headerBar">
    <img class="logo" src="assets/img/landingLogo.png" />
    <div class="navBtns">
      <span class="sign" (click)="goToSignUp()" matRipple>Sign Up</span>
      <span class="login" (click)="goToLogin()" matRipple>Login</span>
    </div>
  </div>
  <div class="firstQuad">
    <div class="intro">
      <div class="text">
        <div class="inline_intro">
          <h1>Your Very Own Custom Branded App<span class="last-dot">.</span></h1>
        </div>
        <p>In our app driven world, AMP bridges the gap between Patients & Doctors
          with a fully integrated solution</p>
        <button class="orderBtn" (click)="goToSignUp()" mat-raised-button>Order Now</button>
        <p class="available">Available for <u>iOS and Android</u></p>
      </div>
    </div>
    <div class="present">
      <img src="assets/img/frontView.png" alt="">
    </div>
  </div>
  <div class="secQuad">
    <h1>Customize Your App to Reflect Your Brand</h1>
    <p>Choose from one of our amazing templates and then customize it even further to perfection.</p>
  </div>
  <div class="thirdQuad">
    <img src="assets/img/screen1.png" alt="">
    <img src="assets/img/screen2.png" alt="">
    <img src="assets/img/screen3.png" alt="">
    <img class="forMobile" src="assets/img/screen4.png" alt="">
    <img class="forMobile" src="assets/img/screen5.png" alt="">
  </div>
  <div class="fourthQuard">
    <img class="leftside" src="assets/img/screen4.png" alt="">
    <span class="acting1"></span>
    <span class="acting2"></span>
    <div class="content">
      <h1>Colorful & Delightful</h1>
      <p>Just how you want your patients to feel</p>
      <p class="note">Patient communication made easy with AMP</p>
      <button class="orderBtn forThis" (click)="goToSignUp()" mat-raised-button>Order Now</button>
    </div>
    <span class="acting3"></span>
    <span class="acting4"></span>
    <img class="rightside" src="assets/img/screen5.png" alt="">
  </div>
  <div class="fifthQuard">
    <img class="forMob" src="assets/img/monitor.png" alt="">
    <div class="texting">
      <h1>Meet Alita. Your Personal Assistant. Driven withPowerful Ai Technology</h1>
      <p>Alita makes it easy to setup and maintain your App My Practice account
        and stay on the cutting edge. Alita makes extremely complex things
        simple by continuing to learn your habits as a medical expert and
        automatically adjusting the software to fit your needs.</p>
      <button class="orderBtn forMon" (click)="goToSignUp()" mat-raised-button>Order Now</button>
    </div>
    <img class="fabing" src="assets/img/fabiano.png" alt="">
  </div>
  <div class="sixthQuad">
    <h1>The Only App Worth Talking About is Yours</h1>
    <p>Increase patient loyalty, maximize staff time and create a tribe</p>
  </div>
  <div class="seventhQuard">
    <div class="row">
      <div class="first">
        <span></span>
        <h2>Dashboard</h2>
        <p>Your AMP dashboard provides
          convenient access for your front office
          to stay connected to your patients</p>
      </div>
      <div class="second">
        <span class="chat"></span>
        <h2>Chat</h2>
        <p>Amp’s 2-way chat feature allows your
          patients to contact your front office
          at their convenience.</p>
      </div>
      <div class="third">
        <span class="forms"></span>
        <h2>Forms</h2>
        <p>HIPAA compliant, Fully Customizable
          digital forms for patients to complete via
          the App or patient portal. </p>
      </div>
      <div class="fourth">
        <span class="automation"></span>
        <h2>Automation Reminders</h2>
        <p>Provide your patients with the convenience
          of Push, Text and Email appointment
          reminders. Create custom follow-up messages. </p>
      </div>
    </div>
    <div class="mobileRow">
      <div class="third">
        <span class="forms"></span>
        <h2>Forms</h2>
        <p>HIPAA compliant, Fully Customizable
          digital forms for patients to complete via
          the App or patient portal. </p>
      </div>
      <div class="fourth">
        <span class="automation"></span>
        <h2>Automation Reminders</h2>
        <p>Provide your patients with the convenience
          of Push, Text and Email appointment
          reminders. Create custom follow-up messages. </p>
      </div>
    </div>
    <div class="row">
      <div class="first">
        <span class="schedule"></span>
        <h2>Scheduling</h2>
        <p>Real time calendar integrated with
          your scheduling software allows App Users
          the ability to choose open time slots.
        </p>
      </div>
      <div class="second">
        <span class="social"></span>
        <h2>Social</h2>
        <p>Share reviews with App users,
          or request reviews with our automated
          follow-up messaging.</p>
      </div>
      <div class="third">
        <span class="marketing"></span>
        <h2>Marketing</h2>
        <p>Share monthly newsletters, reviews, specials
          with all your App Users. Push messages
          directly to their App, email or text. </p>
      </div>
      <div class="fourth">
        <span class="branding"></span>
        <h2>Branding</h2>
        <p>Close the back door on your practice and retain
          everyone that walks through the front.
          Custom branded App with all the features your
          patients demand. </p>
      </div>
    </div>
    <div class="mobileRow">
      <div class="third">
        <span class="marketing"></span>
        <h2>Marketing</h2>
        <p>Share monthly newsletters, reviews, specials
          with all your App Users. Push messages
          directly to their App, email or text. </p>
      </div>
      <div class="fourth">
        <span class="branding"></span>
        <h2>Branding</h2>
        <p>Close the back door on your practice and retain
          everyone that walks through the front.
          Custom branded App with all the features your
          patients demand. </p>
      </div>
    </div>
  </div>
  <div class="eightQuard">
    <div class="links">
      <img src="assets/img/apple.png" alt="">
      <img src="assets/img/android.png" alt="">
    </div>
    <h1>Access Your App From Anywhere</h1>
    <p>Your app will be fully functional on desktop & smart devices. </p>
  </div>
  <div class="ninthQuard">
    <h1>And of Course, Patient Driven Scheduling</h1>
    <p>Making your life immeasurably Simple</p>
    <img src="assets/img/screen6.png" alt="">
    <span class="greenLeft"></span>
  </div>
  <div class="tenthQuard">
    <h1>Get Started with App My Practice</h1>
    <div class="row">
      <div class="frst mobileOne">
        <button class="orderBtn forMon" (click)="goToSignUp()" mat-raised-button>Order Now</button>
        <p>Two feature-rich
          packages available</p>
      </div>
      <div class="frst mobileOne">
        <button class="orderBtn forMon" (click)="goToSignUp()" mat-raised-button>Book Free Demo</button>
        <p>Take your practice from good
          to great. Let’s get in touch.</p>
      </div>
    </div>
    <h1 class="tollNumber">1-800-714-1287</h1>
    <p class="tollFree">Toll Free</p>
  </div>
  <div class="footerBar">
    <img class="logo" src="assets/img/footerLogo.png" />
    <div class="navBtns">
      <span class="login" matRipple>Legal</span>
      <span class="login" matRipple>FAQ</span>
    </div>
  </div>
</div>